*{
	margin:  0;
	padding:  0;
	font-family: 'Poppins', sans-serif;

}
.title-box h1{
	margin-top: 20px;
	margin-bottom: 0px;
	min-height:  10vh;
	width:  100%;
	position: relative;
	text-align: center;
}

.title-box p{
	position: relative;
	text-align: center;
}

.top-charts{
	width: 90%;
	margin: auto;
	text-align: center;
}

.bottom-charts{
	width: 90%;
	margin: auto;
	text-align: center;
}

.col{
	flex-basis: 30%;
	height: 450px;
	/*border-style: solid;*/
}

.colBottomLeft{
	flex-basis: 62%;
	height: 250px;
	/*border-style: solid;*/
}

.colBottomRight{
	flex-basis: 35%;
	height: 250px;
	/*border-style: solid;*/
}

.row{
	display: flex;
	justify-content: space-between;
}