*{
	margin:  0;
	padding:  0;
	font-family: 'Poppins', sans-serif;

	--granny-smith: #93A2A6;
	--purple: #C09CCE;
	--scarpa-flow: #504ES9;
	--silver-chalice: #AFACAD;
	--grey: #bfc9ca;

}

.title-box {
	background-color:  #21618c ;
}

label{
	margin: 4px;
}

.button{
	padding: 3px;
	padding-left: 12px;
	padding-right: 12px;
/*	border-style: solid;
	border-color: #000000;*/
	border-radius: 20px;
}


h4{
	text-align: center;
	background-color: #21618c;
	border-radius: 5px;
	padding: 3px;
	color: #FFFFFF;
}

.descriptive-title {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.title-box h1{
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 3px;
	width:  100%;
	position: relative;
	text-align: center;
}

.title-box p{
	color: #FFFFFF;
	position: relative;
	text-align: center;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 300;
}



.description{
	text-align: justify !important;
}

.result{
	margin: 10px auto;

	height: 80px;
	border-style: solid;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result p{
	margin: auto;
	vertical-align: center;
	font-size: 20px;
	font-weight: 600;
	/*color: #21618c;*/
}

.top-charts{
	width: 90%;
	margin: auto;
}

.bottom-charts{
	width: 90%;
	margin: auto;
	text-align: center;
}

.button_class{
	text-align: center !important;
}

.col{
	flex-basis: 30%;
	/*height: 450px;*/
	border-style: solid;
	border-radius: 12px;
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
	border-color: var(--grey);
}

.colRight{
	flex-basis: 30%;
	/*height: 450px;*/
	border-style: solid;
	border-radius: 12px;
	margin: 5px;
	margin-bottom: 20px;
	padding: 10px;
	border-color: var(--grey);
}

.colBottomLeft{
	flex-basis: 59%;
	height: 300px;
	border-style: solid;
	margin: 5px;
	padding: 20px;
	border-radius: 12px;
	border-color: var(--grey);
}

.colBottomRight{
	flex-basis: 39%;
	height: 300px;
	border-style: solid;
	margin: 5px;
	padding: 20px;
	border-radius: 12px;
	border-color: var(--grey);
}

.row{
	display: flex;
	justify-content: space-between;
}
.colBottom{
	flex-basis: 99%;
	/*height: 450px;*/
	height: 300px;
	border-style: solid;
	margin: 10px;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 12px;
	border-color: var(--grey);
}

@media(max-width: 700px){
	.col{
		flex-basis:95% !important;
		min-height: 320px;
	}
	.colRight{
		flex-basis: 95%;
		min-height: 320px;
	}
	.colBottomLeft{
		flex-basis: 95%;
		min-height: 320px;
	}
	.colBottomRight{
		flex-basis: 95%;
		min-height: 320px;
	}
	.colBottom{
		flex-basis: 95%;
		min-height: 320px;
	}


}