*{
	margin:  0;
	padding:  0;
	font-family: 'Poppins', sans-serif;

	--granny-smith: #93A2A6;
	--purple: #C09CCE;
	--scarpa-flow: #504ES9;
	--silver-chalice: #AFACAD;
	--grey: #bfc9ca;

}

.title-box {
	background-color:  #21618c ;
}

.title-box h1{
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	min-height:  10vh;
	width:  100%;
	position: relative;
	text-align: center;
}

.title-box p{
	position: relative;
	text-align: center;
}

.top-charts{
	width: 90%;
	margin: auto;
	text-align: center;
}

.bottom-charts{
	width: 90%;
	margin: auto;
	text-align: center;
}

.col{
	flex-basis: 30%;
	/*height: 450px;*/
	border-style: solid;
	margin: 10px;
	margin-bottom: 20px;
	padding: 50px;
	border-radius: 12px;
	border-color: var(--grey);
}

.colRight{
	flex-basis: 30%;
	/*height: 450px;*/
	border-style: solid;
	border-radius: 12px;
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
	border-color: var(--grey);
}

.colBottomLeft{
	flex-basis: 59%;
	height: 300px;
	border-style: solid;
	margin: 5px;
	padding: 20px;
	border-radius: 12px;
	border-color: var(--grey);
}

.colBottomRight{
	flex-basis: 39%;
	height: 300px;
	border-style: solid;
	margin: 5px;
	padding: 20px;
	border-radius: 12px;
	border-color: var(--grey);
}

.row{
	display: flex;
	justify-content: space-between;
}